<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Local Website with Image</title>
    <!-- Load static files -->
    {% load static %}
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <header class="site-header">
      <h1>PACE</h1>
    </header>

    <div class="gif" style="background-image: url('/static/myapp/images/darkTP2.jpg');"> 
      <div>
      <br>
      <h1 style="font-size: 1000%;">PACE</h1>
      <br><br><br><br><br>
      <h2 style="font-size: 200%;">Télécom Paris</h2>
      </div>
    </div>

    <div class="text" style="font-family : 'arial';">
      <h2>Bienvenue sur le site officiel de PACE !</h2>

      <p style="font-family : 'arial';">
        PACE est une unité d'enseignement donnée à Télécom Paris, <br> à l'issue de laquelle les étudiants produisent un écrit sur un sujet libre.
        <br>
        <br>
        Vous pouvez parcourir l'ensemble des PACE produits par les étudiants ci-dessous.
      </p>
    
        <div class="buttons">
          <button class="smooth-button">Smooth Button</button>

          <script>
              const button = document.querySelector('.smooth-button');

              function updateButtonState(hue1, hue2) {
                  button.style.setProperty('--hue-1', hue1);
                  button.style.setProperty('--hue-2', hue2);
              }

              button.addEventListener('mouseenter', () => updateButtonState(230, 290));
              button.addEventListener('mouseleave', () => updateButtonState(200, 260));
              button.addEventListener('mousedown', () => updateButtonState(260, 320));
              button.addEventListener('mouseup', () => updateButtonState(230, 290));

              // Touch events for mobile devices
              button.addEventListener('touchstart', (e) => {
                  e.preventDefault(); // Prevent default touch behavior
                  updateButtonState(260, 320);
              });

              button.addEventListener('touchend', () => {
                  updateButtonState(200, 260);
              });
          </script>
    </div></div>

    <footer>
      <p> ©PACE </p>
    </footer>

</body>
</html>