<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PACE</title>
    <!-- Load static files -->
    {% load static %}
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
    <!-- <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script> -->
</head>
<body>
    <header class="site-header">
      <h1 style="color:white; font-size: 2em; font-family:antipasto-hairline;">PACE</h1>
      <!-- <a href="admin" style="margin-right: 3%;">
        <button class="account-btn"></button>
      </a> -->
    </header>

    <div class="gif" style="background-image: url('/static/myapp/images/PACE_Final_1080p_60fps.gif');"> 
      <div>
      <br>
      
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h2 style="font-size: 200%;">Télécom Paris</h2>
      </div>
    </div>

    <div class="text" style="font-family : 'arial';">
      <h2>Bienvenue sur le site de PACE !</h2>

      <p style="font-family : 'arial';">
        PACE est une unité d'enseignement dispensée à Télécom Paris, <br> en première année de cycle ingénieur. <br>
        Les étudiants réalisent une recherche et produisent un écrit sur un sujet de leur choix. 
        <br>
        <br>
        Vous pouvez déjà parcourir l'ensemble des PACE rédigés en 2023.
      </p>
    
        <div class="buttons">
          <a href="/pace/2023">
          <button class="smooth-button">PACE 2023</button>

          <script>
              const button = document.querySelector('.smooth-button');

              function updateButtonState(hue1, hue2) {
                  button.style.setProperty('--hue-1', hue1);
                  button.style.setProperty('--hue-2', hue2);
              }

              button.addEventListener('mouseenter', () => updateButtonState(230, 290));
              button.addEventListener('mouseleave', () => updateButtonState(200, 260));
              button.addEventListener('mousedown', () => updateButtonState(260, 320));
              button.addEventListener('mouseup', () => updateButtonState(230, 290));

              // Touch events for mobile devices
              button.addEventListener('touchstart', (e) => {
                  e.preventDefault(); // Prevent default touch behavior
                  updateButtonState(260, 320);
              });

              button.addEventListener('touchend', () => {
                  updateButtonState(200, 260);
              });
          </script>
          </a>
    </div></div>

    <footer>
      <p> ©PACE - Site encore en cours d'élaboration. <br> Vous pouvez envoyer des remarques, demandes de correction, suggestions, ou rapports de bug à William DRIOT (william.driot@telecom-paris.fr) </p>
    </footer>

</body>
</html>