<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Local Website with Image</title>
    <!-- Load static files -->
    {% load static %}
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <header class="site-header">
      <h1>PACE</h1>
    </header>

    <div class="gif" style="background-image: url('/static/myapp/images/darkTP.jpg');"> 
      <div>
      <br>
      <h1 style="font-size: 1000%;">PACE</h1>
      <br><br><br><br><br>
      <h2 style="font-size: 200%;">Télécom Paris</h2>
      </div>
    </div>

    <div class="text">
      <h2>Bienvenue sur le site officiel du PACE !</h2>

      <p style="font-family : antipasto-medium;">
        PACE est une unité d'enseignement donnée à Télécom Paris, <br> à l'issue de laquelle les étudiants produisent un écrit sur un sujet libre.
        <br>
        <br>
        Vous pouvez parcourir l'ensemble des PACE produits par les étudiants ci-dessous.
      </p>
    </div>
    
    <div>


    </div>

    <footer>
      <p> ©PACE </p>
    </footer>

</body>
</html>