<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PACE</title>
    <!-- Load static files -->
    {% load static %}

    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles_pace2023.css' %}">
    <!-- <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script> -->
</head>
<body>
    <header class="site-header">
      <h1 style="color:white; font-size: 2em; font-family:antipasto-hairline;">PACE</h1>
      <!-- <a href="admin" style="margin-right: 3%;">
        <button class="account-btn"></button>
      </a> -->
    </header>

    <br><br><br><br><br>

    {% load custom_filters %}
    {% for pdf in pdf_files %}
    <div class="box">
      <a href="/pdfs/{{ pdf }}" class="thumbnail">
        <img src="/pdfs/{{ pdf|slice:':-3' }}jpg" alt="Description" class="thumbnail">
       </a> 
      <div style="padding-left: 3%;">
        <h2>{{ pdf|title }}
      </h2>
        <p>
          {{ pdf| author }}
        </p>
      </div>
    </div>
    {% endfor %}
    <footer>
      <p> ©PACE </p>
    </footer>

</body>
</html>